In [1]:
import pandas as pd

In [1]:
from transformers import AutoTokenizer

In [2]:
tok = AutoTokenizer.from_pretrained('bert-base-cased')

In [4]:
tok('Cooking the wings for 10 minutes yields best results')

{'input_ids': [101, 6816, 1158, 1103, 4743, 1111, 1275, 1904, 17376, 1436, 2686, 102], 'token_type_ids': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], 'attention_mask': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}

In [5]:
tok.convert_ids_to_tokens([101, 6816, 1158, 1103, 4743, 1111, 1275, 1904, 17376, 1436, 2686, 102])

['[CLS]',
 'Cook',
 '##ing',
 'the',
 'wings',
 'for',
 '10',
 'minutes',
 'yields',
 'best',
 'results',
 '[SEP]']

In [6]:
df1 = pd.read_parquet('test_bert_nsp_inrecipe.gzip')
df2 = pd.read_parquet('test_bert_nsp_random.gzip')

In [9]:
df1_ = df1.sample(30000)
df2_ = df2.sample(30000)

In [15]:
df3 = pd.concat([df1_,df2_]).reset_index(drop=True)

In [17]:
df3.to_parquet('test.gzip', compression='gzip')

In [8]:
df1

                                                sentences    tags
491381  Mold cookies around orange to create cupped sh...  [0, 1]
180325  Add pineapple and coconut.|Bake in pie shells ...  [1, 0]
177173  Mix well.|Drop by teaspoons onto wax lined paper.  [1, 0]
83133   In a large stew pot, add all ingredients and b...  [1, 0]
314929  Add cereal, peanut butter and vanilla.|Drop on...  [0, 1]
...                                                   ...     ...
71030   Top with melted butter and crushed crackers.|B...  [1, 0]
220526  Serve hot from the oven.|A favorite of all our...  [1, 0]
153523  Beat until peaks form.|Add jello and cream che...  [1, 0]
386467  Cover and chill. To serve, cut tomatoes in 6th...  [0, 1]
335852  Dip half of balls in plain or colored sugar.|S...  [0, 1]

[56270 rows x 2 columns]

In [7]:
df2

                                                sentences    tags
491381  Bring to a boil.|Do the toothpick test to see ...  [0, 1]
180325  Cover with glass lid or plastic wrap.|Cook 5 m...  [1, 0]
177173  Spread in greased cookie sheet.|Bake at 350° f...  [1, 0]
83133   Mix oleo, beans, eggs and sugar.|Add vanilla, ...  [1, 0]
314929  Cover pan 2 to 3 minutes to dissolve sugar cry...  [0, 1]
...                                                   ...     ...
71030   Preheat oven to 375°.|Bake pie crust 10 minute...  [1, 0]
220526   Mix thoroughly.|Cover and let stand for 2 weeks.  [1, 0]
153523               Add sugars and cream well.|Add eggs.  [1, 0]
386467  Fold in carrots, nuts, raisins and flakes.|Coo...  [0, 1]
335852           Sprinkle with grated cheese.|Cream well.  [0, 1]

[56270 rows x 2 columns]