In [1]:
import pandas as pd

In [2]:
pd = pd.read_parquet("500k_dist_fsb.gzip")

In [3]:
pd

                                                sentences  target
0       Put tomatoes, peppers, onions and garlic in fo...  [0, 1]
1       Combine oats, coconut and nuts in large pan (1...  [0, 1]
2       Crumble crackers; pour in sweet milk and let s...  [0, 1]
3       Pour 8 ounces of pop in pan and sprinkle 1 pac...  [0, 1]
4       Cream the cream cheese and sugar. Set aside. P...  [0, 1]
...                                                   ...     ...
499995  Combine all ingredients and bake at 350 degree...  [1, 0]
499996  Place onions, oleo, flour and bouillon cubes i...  [1, 0]
499997  Preheat oven to 325 degrees. In a large mixing...  [1, 0]
499998  Beat egg whites until stiff. Fold in sugar, cr...  [1, 0]
499999  Cream together butter, sugar and vanilla. Add ...  [1, 0]

[500000 rows x 2 columns]